/* Padrao */
*{
	font-family : Tahoma, Arial, Helvetica;
	font-size : 12px;
	color: #777777;
	font-style : normal;
	background-repeat : no-repeat;
	scrollbar-3dlight-color : #777777;
	scrollbar-arrow-color : White;
	scrollbar-base-color : #777777;
	scrollbar-darkshadow-color : #777777;
	scrollbar-track-color : #F5F6ED;
	scrollbar-face-color : #777777;
}

/* Links */

a {
	color : #3399CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.link-mapasite{
	color : #555555;
	font-weight: bold;
	text-decoration: none;
}

.link-mapasite:hover{
	text-decoration: underline;
}

/* Menus e Submenus */

.menu{
	color: blue;
	text-align: left;
	font-style: bold;
	font-size: 14px;
	padding-right: 5px;
}

.submenu-titulo{
	padding-left : 18px;
	padding-top : 9px;
	font-style: bold;
	font-size: 14px;
	font-weight : bold;
}

.submenu-link{
	padding-top : 9px;
	font-style: bold;
	font-size: 14px;
	font-weight : bold;
}

.submenu-texto-titulo{
	padding-left : 18px;
	font-style: bold;
	font-weight : bold;
	font-size: 12px;
}

.submenu-texto{
	color: #555555;
	padding-left : 18px;
	font-style: normal;
	font-size: 12px;
}

/* Tabelas */

.td-titulo1{
	padding-left: 18px;
	color: #555555;
	font-weight: bold;
	font-style: normal;
	font-size: 14px;
	background: #ECE9D8;
}

.td-titulo2{
	padding-left: 15px;
	color: #555555;
	font-weight: bold;
	font-style: normal;
	font-size: 12px;
	background: #ECE9A9;
}

.td-texto1{
	padding-left: 15px;
	color: #555555;
	font-style: normal;
	font-size: 12px;
}

/* Corpo */

.texto{
	padding-left : 12px;
}

.titulo1{
	padding-left : 18px;
	font-style: bold;
	font-size: 14px;
	font-weight : bold;
}

.corpo-titulo1{
	font-style: bold;
	font-weight : bold;
	font-size: 12px;
}

.corpo-titulo2{
	font-style: bold;
	font-weight : bolder;
	color: #4c4c4c;
	font-size: 12px;
}

.corpo-titulo3{
	font-style: bold;
	font-weight : bolder;
	color: #4c4c4c;
	font-size: 20px;
}

.corpo-texto1{
	color: #555555;
	font-style: normal;
	font-size: 12px;
}

.corpo-texto2, dd{
	color: #555555;
	font-style: normal;
	font-size: 12px;
	padding-left: 15px;
	padding-right: 10px;
}

.corpo-texto3{
	color: #555555;
	font-style: normal;
	font-size: 11px;
}

.legenda{
	color: #555555;
	font-style: normal;
	font-size: 10px;
}

.webmail{
	color: white;
	padding-left: 15px;
	font-style: bold;
	font-size: 16px;
	font-weight : bolder;
}

/* Rodape */

.endereco{
	font-style: normal;
	color: #555555;
	font-size: 11px;
}

.copyright{
	font-style: normal;
	font-size: 10px;
}

/* Publicacoes Legais */

.publeg-titulo{
	font-size: 11px;
	color: #009900;
	font-weight : bold;
}

.publeg-ano{
	font-weight: bold;
	font-size: 11px;
}

.publeg-texto{
	font-weight: normal;
	font-size: 11px;
}

.publeg-link{
	font-weight: normal;
	font-size: 11px;
}

/* Fotos */
.fotos{
	border: 1px solid #777777;
}

/* Overlib */
.ov-titulo1{
	font-style: normal;
	color: white;
	font-weight: bold;
	font-size: 11px;
}

.ov-texto1{
	font-style: normal;
	color: #555555;
	font-size: 11px;
}

.ov-link{
	font-style: normal;
	color: #0066cc;
	font-size: 10px;
}

.ov-link:hover{
	text-decoration: none;
	color: red;
}

.ov-fechar{
	font-style: normal;
	color: #FFFFFF;
	font-size: 10px;
}
